{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
table, tr, th, td{
    border: 1px solid black;
}
</style>

<h2>Utilisateurs</h2>
<table>
<thead>
<tr>
<th>Id</th>
<th>Pseudo</th>
<th>Password</th>
<th>Profil_pic</th>
<th>Description</th>
<th>Suivis</th>
<th>Likes</th>
</thead>
<tbody>
{% for user in users %}
<tr>
<td> {{ user.id }} </td>
<td> {{ user.pseudo }} </td>
<td> {{ user.password }} </td>
<td>
    {% if user.profil_pic %}
        <img src="http://api.local/{{ user.profil_pic }}" width="70" alt="pic">
    {% else %}
        <img src="http://api.local/media/default.png" width="70" alt="pic">
    {% endif %}
</td>
<td> {{ user.description }} </td>
<td> {{ user.suivis }} </td>
<td> {{ user.likes }} </td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>Tweets</h2>
<table>
<thead>
<tr>
<th>Id</th>
<th>Utilisateur</th>
<th>DateHeure</th>
<th>Message</th>
<th>Media</th>
</tr>
</thead>
<tbody>
    {% for tweet in tweets %}
        <tr>
            <td> {{ tweet.id }} </td>
            <td> {{ tweet.user }} </td>
            <td> {{ tweet.dateheure.date | format_datetime(locale='fr') }} </td>
            <td> {{ tweet.message }} </td>
            <td>
                {% if tweet.media %}
                    <img src="http://api.local/{{ tweet.media }}" width="70" alt="pic">
                {% else %}
                    Aucun media
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
